 
.sliderContainer{
/* background-color: #efefef; */


}

.sliderWrapper{
display: flex;
justify-content: space-between;
}

.card{
padding: 20px;
/* border: 2px solid red; */
box-sizing: border-box;
width: 340px;

}

.cardImageSection{

  position: relative;
  overflow: hidden;
}

.cardImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.overlay{
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
top:0;
left: 0;
background-color: rgba(14, 14, 14, 0.5);
transition: 0.3s;
opacity: 0;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}

.overlay::after{
content: '';
opacity: 1;
}

.cardImageSection:hover .overlay, .cardImage  {
opacity: 1;
z-index: 3;
}
.cardImageSection:hover .cardImage{
transform: scale(1.1);
transition: 0.5s ease-in-out;
}

.cardContentSection{
width: 300px;
}
.cardContentSection > div{

    padding: 5px;
    /* border: 2px solid red; */
}

.cardContentSection > div .date{
padding-right: 20px;
} 

/*
.sliderContainer
{
    max-width: 90vw;
    width: 100%;
    margin: 20px auto;
    border: 2px solid red;
    padding: 10px;
}

.slide{
width: 100%;
height: 300px;
border: 2px solid gray;
background-color: bisque;
display: grid;
place-items: center;
}

.btn-container
{       
    display: flex;
    justify-content: space-between;
}

.btn-container .Prev, .Next{
padding: 8px 16px;
margin: 5px;
border-radius: 4px;
}
*/






